body {
    font-family: monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

#inicio h2 {
    color: black; /* Color blanco para el texto */
    text-align:center;
    justify-content: center;
}

#inicio {
    color: white; /* Color del texto */
    text-align: justify; /* Alineación justificada del texto */
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrado horizontal del contenido */
    padding: 20px; /* Espacio interno */
    margin-top: 70px; /* Añadir margen superior para evitar que el contenido quede oculto bajo el nav */
}

#inicio p {
    margin-bottom: 20px; /* Espacio inferior */
}

header {
    background-color: #000550;
    padding: 10px;
    text-align: left; /* Cambia el texto a la izquierda */
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro del header */
    justify-content: space-between; /* Distribuye espacio entre los elementos del header */
    position: fixed; /* Fija el header en su posición */
    top: 0; /* Posiciona el header en la parte superior */
    width: 100%; /* Ancho completo de la pantalla */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

header #logo {
    width: 50px; /* Ajusta el ancho según sea necesario */
    height: 50px; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio entre el logo y el título */
}

header h1 {
    margin: 0;
    text-shadow: 0 0 9px rgb(1, 32, 170), 0 0 9px rgb(255, 0, 0), 0 0 9px rgb(1, 32, 170);
    color: #ffd900;
    font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
}

nav {
    display: flex; /* Flexbox para el nav */
    align-items: center; /* Centra verticalmente los enlaces del nav */
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 5px rgb(1, 32, 170), 0 0 5px rgb(255, 0, 0), 0 0 5px rgb(1, 32, 170);
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
    list-style: none;
}

nav a:hover {
    color: #ffffff;
    background-color: black;
    border-radius: 7px;
}

.nav_horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.nav_horizontal li {
    position: relative;
}

.nav_vertical {
    list-style: none;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 150px;
    max-height: 400px; /* Establece una altura máxima para el scroll */
    overflow-y: auto; /* Habilita el scroll vertical cuando el contenido excede la altura máxima */
    background-color: #ffcc00;
    padding: 0;
    margin: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    scrollbar-color: #0000009c #636363; /* color del scroll */
    scrollbar-width: thin;
}

.nav_horizontal li:hover .nav_vertical {
    display: block;
}

.nav_vertical li {
    padding: 8px;
}

.nav_vertical li a {
    display: block;
    padding: 8px;
    color: #ffffff;
    text-decoration: none;
}

.nav_vertical li.normal {
    background-color: #A8A77A;
}

.nav_vertical li.fire {
    background-color: #EE8130;
}

.nav_vertical li.water {
    background-color: #6390F0;
}

.nav_vertical li.grass {
    background-color: #7AC74C;
}

.nav_vertical li.electric {
    background-color: #F7D02C;
}

.nav_vertical li.ice {
    background-color: #96D9D6;
}

.nav_vertical li.fighting {
    background-color: #C22E28;
}

.nav_vertical li.poison {
    background-color: #A33EA1;
}

.nav_vertical li.ground {
    background-color: #E2BF65;
}

.nav_vertical li.flying {
    background-color: #A98FF3;
}

.nav_vertical li.psychic {
    background-color: #F95587;
}

.nav_vertical li.bug {
    background-color: #A6B91A;
}

.nav_vertical li.rock {
    background-color: #B6A136;
}

.nav_vertical li.ghost {
    background-color: #735797;
}

.nav_vertical li.dark {
    background-color: #705746;
}

.nav_vertical li.dragon {
    background-color: #6F35FC;
}

.nav_vertical li.steel {
    background-color: #B7B7CE;
}

.nav_vertical li.fairy {
    background-color: #D685AD;
}

.nav_vertical li a:hover {
    background-color: inherit; /* Hereda el color de fondo del elemento li */
}


#inicio img {
    max-width: 40%; /* Reducir el tamaño máximo de la imagen */
    display: block; /* Asegurar que la imagen se comporte como un bloque */
    margin: 0px auto; /* Espacio superior e inferior para bajar la imagen */
    float: center; /* Alinear la imagen al centro */
    margin-left: 200px; /* Espacio entre el texto y la imagen */
    margin-bottom: 20px; /* Espacio inferior */
}

.contenedor-principal {
    display: flex;
    gap: 20px; /* Espacio entre los dos contenedores */
    justify-content: center; /* Centrar horizontalmente los contenedores */
    flex-wrap: wrap; /* Permitir que los contenedores se envuelvan si no caben en una sola línea */
}

.contenedor-descripcion, .contenedor-secundario {
    flex: 1;
    max-width: 45%; /* Ajustar el ancho máximo de cada contenedor */
    color: black;
    background-color: #F7D02C;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #094688;
}

.contenedor-imagenes {
    text-align: center; /* Centrar horizontalmente las imágenes */
    margin-bottom: 20px; /* Espacio entre las imágenes y el contenido */
}

.contenedor-imagenes img {
    max-width: 100%;
    height: auto;
    margin: 10px; /* Añadir margen entre las imágenes */
}

.pokedex, .acompanantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

#pokedex, #acompanantes {
    margin-top: 80px;
}

select {
    color: #000550;
    font-weight: 700;
    background-color: white;
    border: none;
    margin: 20px;
    padding: 6px 10px;
    border-radius: 5px;
}

option {
    color: #000550;
    font-weight: 700;
    background-color: white;
    border-radius: 5px;
}

.active {
    display: block;
}

.inactive {
    display: none;
}